.instances-card {
    background-color: rgb(242, 241, 241);
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transform: scale(1); /* Initial scale */
  }
  
  .instances-card:hover {
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Scale up slightly on hover */
  }
  
  .instances-card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(68, 139, 202);
  }
  
  .instances-card-container > div {
    margin-right: 10px;
  }
  .instance-data-key{
    font-weight: 900;
    font-size: 15px;
  }
  .instance-data-value{
    font-size: 15px;
    margin-bottom: 5px;
  }