.cloud-run-services-card {
    background-color: rgb(242, 241, 241);
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    padding: 8px;
    cursor: pointer;
    transform: scale(1); 
  }
  
  .cloud-run-services-card:hover {
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
  }
  
  .cloud-run-services-card-container {
    display: flex;
    flex-wrap: wrap;    
  }
  
  .cloud-run-services-card-container > div {
    margin-right: 10px;
  }
  .cloud-run-data-key{
    font-weight: 800;
    font-size: 15px;
  }
  .cloud-run-data-value{
    font-size: 15px;
    margin-bottom: 5px;
  }